{% extends "layout.html" %}
{% block styles %}
  <style>

  </style>
{% endblock %}
{% block title %}Infromación{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="#">Inicio</a></li>
<li class="breadcrumb-item active" aria-current="page">Información</li>
{% endblock %}
{% block content %}
<div class="container">

	<div role="main" class="row py-lg-5">
		<div class="col-md-8">
			<h1>Como crear alertas</h1>
			<p>En esta página se muestra como podés crear alertas para que 
				luego otras personas puedan verlas en el mapa de alertas barriales en el siguiente enlace 
				<a href="/mapa">Mapa de alertas barriales</a>. Empecemos.
			</p>
			<p>Para poder crear una alerta simplemente completa el siguiente formulario. El mismo podés completarlo cuantas veces quieras.</p>
		</div>
	</div>

	<hr class="col-3 col-md-2 mb-3">

	<div role="complementary" class="row g-5">
		<div class="embed-responsive embed-responsive-16by9">
			<h2>Formulario de creación de alertas</h2>
			<iframe class="responsive-iframe" width="540" height="1527" src="https://docs.google.com/forms/d/e/1FAIpQLSf4Mqa5Du4NTel2xeyAtnohA-p72h0kGuQhrtO0gyCrZ66kpA/viewform?embedded=true" title="Crear alerta">Cargando…</iframe>
		</div>	
	</div>
</div>
{% endblock %}
