{% extends "layout.html" %}
{% block title %}Configuración{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Inicio</a></li>
<li class="breadcrumb-item active" aria-current="page">Configuración</li>
{% endblock %}
{% block content %}
<div class="container">
		<div class="row gutters-sm">
			<h1>Configuraciones de la página</h1>
			<hr>
			<div class="col-md-4 d-md-block">
				<div class="card">
				<div class="card-body">
					<nav class="nav flex-column nav-pills nav-gap-y-1">
						<button class="nav-link active" id="pill-accesibilidad-tab" data-bs-toggle="tab" data-bs-target="#accesibilidad" type="button" role="tab" aria-controls="accesibilidad" aria-selected="true">
							<span class="px-2"><i class="fa-solid fa-universal-access "></i></span>Accesibilidad
						<button class="nav-link" id="pill-localizacion-tab" data-bs-toggle="tab" data-bs-target="#localizacion" type="button" role="tab" aria-controls="localizacion" aria-selected="true">
							<span class="px-2"><i class="fa-solid fa-location-crosshairs"></i></span>Localización
						</button>
					</nav>
				</div>
				</div>
			</div>
		  	<div class="col-md-8">
			  	<div class="card-body tab-content" id="pills-tabContent">
					<div class="tab-pane fade show active" role="tabpanel" aria-labelledby="pill-accesibilidad-tab" id="accesibilidad">
						<h2>Opciones de accesibilidad</h2>
						<p>Aquí se pueden ajustar distintos elementos para que la página se te haga más fácil de utilizar.</p>
						<hr>
						<form>
							<div class="mb-3">
								<label for="textRange" class="form-label">Tamaño del texto</label>
								<input type="range" class="form-range" value="{{ request.cookies.get('tamanio_texto') }}" min="0" max="5" id="textRange" aria-describedby="estadoRangoTexto"oninput="tamanioTexto(this.value)">
								<small id="tamanio-letra-ayuda" class="form-text text-muted">Elegí un tamaño de letra que se ajuste mejor a tus necesidades.</small>
								<p> Texto aumentado en <span id="estadoRangoTexto">{{ request.cookies.get('tamanio_texto') | int * 10  }}</span>%</p>
							</div>
							<div class="mb-3 row align-items-center">
								<div class="col">
									<label class="form-check-label" for="switchColor">Color invertido</label>
									<p class="text-muted mb-0">Active el color invertido de la página si el contraste de la página no es suficiente</p>
								</div>
								<div class="col-auto">
									<div class="form-check form-switch">
										<input class="form-check-input" 
											type="checkbox" 
											role="switch" 
											id="switchColor" 
											{% if request.cookies.get('invert_color') == 'true' %}
												checked
											{% endif %}
										>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="tab-pane fade" role="tabpanel" aria-labelledby="pill-localizacion-tab" id="localizacion">
						<h2>Opciones de localización</h2>
						<p>Configura opciones que corresponden con tu ubicación actual. Estas opciones afectan lo que vas a ver en el mapa de alertas barrial.</p>
						<hr>
						<form>
							<div class="form-group">
								<div class="row align-items-center">
									<div class="col">
										<label class="form-check-label" for="switchGPS">Sistema de Posicionamiento Global (GPS)</label>
										<strong class="mb-2"></strong>
										<p class="text-muted mb-0">Activar o descativar Sistema de Posicionamiento Global (GPS). Al activar el Sistema de Posicionamiento Global el mapa de alertas se centrará en tu ubicación actual.</p>
									</div>
									<div class="col-auto">
										<div class="form-check form-switch">
											<input class="form-check-input" type="checkbox" role="switch" id="switchGPS">
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
			  	</div>
			</div>
		  </div>
		</div>
</div>
{% endblock %}
{% block scripts %}
<script>


const switchColor = document.getElementById('switchColor');
const switchGPS = document.getElementById('switchGPS');

switchColor.addEventListener('change', (event) => {

	if (event.currentTarget.checked) {
		var css = `html {
			-webkit-filter: invert(100%);
			-moz-filter: invert(100%);
			-o-filter: invert(100%);
			-ms-filter: invert(100%);
		}`	
	
		const head = document.head
		const style = document.createElement('style')
		style.type = 'text/css';
		style.id = 'inversionDeColor';

		if (style.styleSheet) {
			style.styleSheet.cssText = css;
		} else {
			style.appendChild(document.createTextNode(css));
		}
		head.appendChild(style);

		document.cookie = "invert_color=true";
	} 
	
	else {
		var index = Array.from(document.styleSheets).findIndex(e => e.ownerNode.id == 'inversionDeColor')	

		if(index == -1){
			console.log('No existe la hoja de estilos')
		}
		else{
			document.head.removeChild(document.styleSheets[index].ownerNode)
		}

		document.cookie = "invert_color=false";
	}
})

switchGPS.addEventListener('change', (event) => {
  if (event.currentTarget.checked) {
    console.log('GPS activado');
  } else {
    console.log('GPS desactivado');
  }
})

function tamanioTexto(valor){
	const aumentoPorcentual = valor * 10;
    document.getElementById('estadoRangoTexto').innerHTML = aumentoPorcentual + "";
	const aumentoRelativo = 1 + valor * 0.1;
    document.getElementsByTagName( "html" )[0].style[ "font-size" ] = aumentoRelativo + "rem";
	document.cookie = "tamanio_texto=" + valor;

	console.log(aumentoRelativo);
}


</script>
{% endblock %}
