{% extends "layout.html" %}
{% block title %}Contacto{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Inicio</a></li>
<li class="breadcrumb-item active" aria-current="page">Contacto</li>
{% endblock %}
{% block content %}
<div class="container">

	<div role="main">
		<div class="row py-lg-2">
			<h1>Contacto Facultad de Informática UNLP</h1>
		</div>

		<div class="py-lg-2">
			<strong class="col-md-8">
				Dirección
			</strong>
			<p>50 y 120 - La Plata, Argentina</p>
		</div>

		<div class="py-lg-2">
			<strong class="col-md-8">
				Teléfonos para llamadas
			</strong>
			<p>(0221) 427-7270 | 427-7271</p>
		</div>

		<div class="py-lg-2">
			<strong class="col-md-8">
				Whatsapp
			</strong>
			<p>(0221) 573-7019</p>
		</div>

		<div class="py-lg-2">
			<strong class="col-md-8">
				Mail
			</strong>
			<div>
				<p>
					<a href="mailto:difusion@info.unlp.edu.ar" data-wahfont="13">difusion@info.unlp.edu.ar</a>
				</p>
			</div>
		</div>

		<div class="py-lg-2">
			<strong class="col-md-8">
				Redes sociales
			</strong>
			<div class="">
				<a class="btn btn-primary" target="_blank" style="background-color: #3b5998;" href="https://www.facebook.com/InfoUNLP" role="button">
					<i class="fab fa-facebook-f me-2"></i>
					Facebook
				</a>
				<a class="btn btn-primary" target="_blank" style="background-color: #55acee;" href="https://twitter.com/InformaticaUNLP" role="button">
					<i class="fab fa-twitter me-2"></i>
					Twitter
				</a>
				<a class="btn btn-primary" target="_blank" style="background-color: #ac2bac;" href="https://www.instagram.com/informaticaunlp/" role="button">
					<i class="fab fa-instagram me-2"></i>
					Instagram
				</a>
				<a class="btn btn-primary" target="_blank" style="background-color: #0082ca;" href="https://www.linkedin.com/school/facultad-de-inform%C3%A1tica-within-universidad-nacional-de-la-plata/" role="button">
					<i class="fab fa-linkedin-in me-2"></i>
					Linkedin
				</a>
				<a class="btn btn-primary" target="_blank" style="background-color: #ed302f;" href="https://www.youtube.com/channel/UCXjJ1_zkLiA5eFHddLpoQRw" role="button">
					<i class="fab fa-youtube me-2"></i>
					Youtube
				</a>
			</div>
		</div>
	</div>

</div>
{% endblock %}
