{% extends "layout.html" %}
{% block styles %}
  <style>
    .feature-icon {
      width: 4rem;
      height: 4rem;
      border-radius: 0.75rem;
    }
  </style>
{% endblock %}
{% block title %}Página de inicio{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page><a href="/">Inicio</a></li>
{% endblock %}
{% block content %}
  <section role="section" class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light" aria-label="Bienvenides">Bienvenidxs</h1>
        <p class="lead">Esta aplicación permite a lxs vecinxs crear alertas comunitarias que permitan avisar de diferentes peligros. Estas alertas luego van a poder ser vistas en un mapa del barrio para poder consultar toda su información. Más abajo podes ver la opción para poder crear estas alertas como así tambien poder consultar el mapa y además contás con una pagína para poder informarte más acerca de la aplicación.</p>
      </div>
    </div>
  </section>

 <div role="main" class="container px-4 py-5" id="featured-3">
    <div class="pb-2 border-bottom"></div>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <span class="feature-icon d-inline-flex align-items-center justify-content-center bg-primary bg-gradient text-white fs-2 mb-3">
          <i class="bi bi-info" aria-hidden="true"></i>
        </span>
        <h2>Informate</h2>
        <p>Cononcé más sobre este proyecto y obtené más información sobre otras aplicaciones y estudios realcionados.</p>
        <a href="/informacion" class="icon-link d-inline-flex align-items-center">
          Más información<i class="bi bi-chevron-right" aria-hidden="true"></i>
        </a>
      </div>
<div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-primary bg-gradient text-white fs-2 mb-3">
          <i class="bi bi-map" aria-hidden="true"></i>
        </div>
        <h2>Mapa de alertas barrial</h2>
        <p>En este mapa se pueden ver las alertas creadas por todas las personas del barrio.</p>
        <a href="mapa" class="icon-link d-inline-flex align-items-center">
          Ir al mapa<i class="bi bi-chevron-right" aria-hidden="true"></i>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-primary bg-gradient text-white fs-2 mb-3">
          <i class="bi bi-geo-alt" aria-hidden="true"></i>
        </div>
        <h2>Creación de alertas</h2>
        <p>Aquí te podés informar brevemente de como crear alertas propias para luego verlas en el mapa de alertas barrial.</p>
        <a href="alertas" class="icon-link d-inline-flex align-items-center">
          Crear alerta<i class="bi bi-chevron-right" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
