{% extends "layout.html" %}
{% block styles %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='mapa.css') }}">
{% endblock %}
{% block title %}Mapa{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Inicio</a></li>
<li class="breadcrumb-item active" aria-current="page">Mapa</li>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row py-lg-5">
      <div role="main" class="col-md-8">
        <h1>Información sobre mapa de alertas barrial</h1>
        <p>En esta página podes ver todas la alertas creadas por la gente del barrio. 
          Existen distintos tipos de alertas:
        </p>
        <ul>
          <li role="presentation">
            <strong>Naturales:</strong> se refiere a que el problema es causado por 
            la naturaleza como puede ser zonas inundadas o arboles caídos. Indicada por una
            marca de color azul en el mapa.
          </li>
          <li role="presentation">
            <strong>Obras de construcción:</strong> son aquellas en las que el problema 
            está causado por personas, por ejemplo, obras sin terminar o lugares que 
            necesitan atención como destapar zanjas o tubos. Indicada por una
            marca de color amarilla en el mapa.
          </li>
          <li role="presentation">
            <strong>Zona estable:</strong> se refiere a lugares en los que ante una 
            emergencia pueden reunirse en ese punto. Indicada por una
            marca de color verde en el mapa.
          </li>
        </ul>
        <p>Cada una de las marcas en el mapa que indican alertas puede ser cliqueada para brindar
          más información, por ejemplo, la fecha cuando fue creada y una descripción de la misma.
        </p>
      </div>
    </div>
    
    <hr class="col-3 col-md-2 mb-3">
    
    <h2 class="mb-3" id="tituloCreacionAlertas">Mapa de alertas barrial</h2>

    <div role="complementary" class="row g-5" id="featured-3">
        <div class="ratio ratio-16x9">
          <iframe src="https://mapping.thexs.app/map.html?fid=1v6IP_dT_bWbFzP0BlHsaTo7QDH2wLiBN" 
          allowfullscreen="" title="Mapa de alertas barrial"></iframe>
        </div>
      </div>
    </div>
<div class="container">

{% endblock %}
